<section class="ftco-section bg-light">
  <div class="container">
    <div class="cart-summary">
      <h2>Cart Summary</h2>
      <ul class="list-group">

        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <span>zapatos</span>
            </div>
            <div class="col">
              <span>$1323232</span>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <span>zapatos</span>
            </div>
            <div class="col">
              <span>$1323232</span>
            </div>
          </div>
        </li>

      </ul>
      <p class="total">Total: {{ 6363 }}</p>
    </div>
  </div>
</section>
