<div class="dashboard">
  <div class="row">

    <div class="col-md-4">
      <div class="card rounded">
          <div class="card-image">
              <img class="img-fluid" src="/assets/images/product-2.jpg" alt="Alternate Text" />
          </div>
          <div class="card-body text-center">
              <div class="ad-title m-auto">
                  <h5>Zapatos Gamuza</h5>
              </div>
              <h3><a class="ad-btn" href="#"># 1</a></h3>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card rounded">
          <div class="card-image">
              <img class="img-fluid" src="/assets/images/product-4.jpg" alt="Alternate Text" />
          </div>
          <div class="card-body text-center">
              <div class="ad-title m-auto">
                  <h5>Zapatos Tela</h5>
              </div>
              <h3><a class="ad-btn" href="#"># 2</a></h3>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card rounded">
          <div class="card-image">
              <img class="img-fluid" src="/assets/images/product-6.png" alt="Alternate Text" />
          </div>
          <div class="card-body text-center">
              <div class="ad-title m-auto">
                  <h5>Zapatos Tela</h5>
              </div>
              <h3><a class="ad-btn" href="#"># 2</a></h3>
          </div>
      </div>
    </div>

  </div>

  <div class="card">
    <h2>Últimas ventas</h2>
    <!-- Aquí puedes mostrar las últimas ventas -->
  </div>

  <div class="card">
    <h2>Total de ganancias</h2>
    <!-- Aquí puedes mostrar el total de ganancias -->
  </div>
</div>
